<div *ngIf="meData && available" class="container mt-5">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <app-checkout-resume></app-checkout-resume>  
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <hr>
      <form class="needs-validation was-validated" (ngSubmit)="sendData()" #form="ngForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>First name</label><br>
            <span>{{meData.user.name}}</span>
          </div>
          <div class="col-md-6 mb-3">
            <label>Last name</label><br>
            <span>{{meData.user.lastname}}</span>
          </div>
        </div>
        <div class="mb-3">
          <label>Email</label><br>
          <span>{{meData.user.email}}</span>
        </div>
        <div class="mb-3">
          <label for="address">Address</label>
          <textarea cols="40" rows="4" class="form-control" id="address" #addressData="ngModel" [(ngModel)]="address" name="address"
                    [ngClass]="{'is-valid': !addressData.invalid, 'is-invalid': addressData.invalid}" required=""></textarea>
        </div>
        <h4 class="mb-3">Payment</h4>
        <div class="row">
          <div class="col-lg">
            <ng-stripe-pay-form [key]="key" [hidePostalCode]="true" ></ng-stripe-pay-form>
          </div>
        </div>
        <hr class="mb-4">
        <button (click)="sendData()" [disabled]="!form.valid" class="signup-btn" type="submit">Continue to checkout</button>
      </form>
    </div>
  </div>
</div>