<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <h5>Shopping Cart</h5>
  <hr>
  <!-- {{cart | json}} -->
  <div *ngIf="cart.total === 0" class="card product">
    There are no products in the cart
  </div>
  <div *ngFor=" let product of cart.products" class="card product">
    <div class="row">
      <div class="col-lg-2">
        <img class="img-fluid" [src]="product.img" [alt]="product.name">
        <button (click)="clearItem(product)" class="btn btn-sm btn-danger mt-2"><i class="fas fa-times"></i> </button>
      </div>
      <div class="col-lg">
        <div class="row">
          <div class="col-lg-9">
            <h6>{{product.name}} ({{product.description}})</h6>
            <shop-qty-selector [qty]="product.qty" [stock]="product.stock" (updateValue)="changeValue($event, product)"></shop-qty-selector>
          </div>
          <div class="col-lg">
            <ng-template #noDiscount>
              <div class="price">
                {{currencySelect}} {{product.price}}
              </div>
            </ng-template>
            <div *ngIf="product.discount; else noDiscount" class="price">
              {{currencySelect}} {{product.priceDiscount | number}} <br>
              <span>
                {{currencySelect}} {{product.price | number}}
              </span>
              <span class="discount-percentage">
                ({{product.discount}} %)
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="cart.total > 0">
    <div class="row product">
      <div class="col-lg-5">
        Subtotal ({{cart.subtotal}}) products.
      </div>
      <div class="col-lg">
        Total to pay:<span class="text-primary float-right price-total">{{currencySelect}} {{cart.total | number}}</span>
      </div>
    </div>
    <hr>
    <button (click)="checkout()" class="btn btn-success float-right mr-3">Go to checkout</button>
    <button (click)="clear()" class="btn btn-danger float-right mr-2"><i class="fas fa-trash-alt"></i> Clear cart</button>
  </div>
</div>
<div id="overlay">

</div>
