<div class="container-fluid bg-dark navbar-dark">
  <div class="d-flex justify-content-between">
    <div>
      <img src="/assets/img/logos/gamezonia.png" alt="shop logo" class="logo">
    </div>
    <div class="flex-fill">
      <span class="delivery"><i class="fas fa-truck"></i> <b>FREE</b> delivery for all orders</span>
    </div>
    <div class="d-flex flex-fill">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item faq">
        <a class="nav-link" routerLink="/faq"><span><i class="fas fa-question"></i>FAQ</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>