<div class="container">
  <div class="row">
    <div class="col-lg"></div>
    <div class="col-lg-6">
      <form (ngSubmit)="add()" #form="ngForm">
        <h1>Activate account</h1>
        <p>Type your password and make sure it's right before activating your account. Select your birthday</p>
        <label for="birthday"><b>Birthday</b></label>
        <app-date-picker-legal-age (newDate)="dataAsign($event)"></app-date-picker-legal-age>
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Password" name="password" required #password="ngModel" [(ngModel)]="values.password"
          class="form-control" [ngClass]="{'is-valid': !password.invalid, 'is-invalid': password.invalid}" />
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required and must have at least 4 characters.
            </div>
            <!-- <div *ngIf="password.errors && password.errors.minlength">
              Password must have at least 4 characters.
            </div> -->
          </div>
          <label for="passwordTwo"><b>Confirm password</b></label>
          <input type="password" placeholder="Confirm password" name="passwordTwo" required #passwordTwo="ngModel" [(ngModel)]="values.passwordTwo"
          class="form-control" [ngClass]="{'is-valid': !passwordTwo.invalid, 'is-invalid': passwordTwo.invalid}" />
          <div *ngIf="passwordTwo.invalid && (passwordTwo.dirty || passwordTwo.touched)" class="alert alert-danger">
            <div *ngIf="passwordTwo.errors.required">
              Password is required and must have at least 4 characters.
            </div>
            <!-- <div *ngIf="password.errors && password.errors.minlength">
              Password must have at least 4 characters.
            </div> -->
          </div>
          <div class="row">
            <div class="col-lg">
              <button type="submit" class="signup-btn" [disabled]="form.invalid">Active Account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg">
      
    </div>
  </div>
