<div class="container">
  <h1>FAQ</h1>
  <p>Frequently Asked Questions and answers.</p>
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="Payment methods?">
      <ng-template ngbPanelContent>
        You can make the payments in our shop with any Debit/Credit cards. We take Visa, MasterCard, Amex, Discover.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Are there any shipping fees?">
      <ng-template ngbPanelTitle>
      </ng-template>
      <ng-template ngbPanelContent>
        Absolutely not! All of orders come with <b>FREE</b> shipping, that means you only pay for the game, nothing else!
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>