/* =============================================
ADMIN COLORS
=============================================*/

$admin-primary-color: #181F2C !important;
$admin-secondary-color: #0143A3 !important;

/* =============================================
PUBLIC COLORS (SHOP)
=============================================*/

$price-primary: #cc1c39;
$price-discount: #999;

/* =============================================
COMMON COLORS
=============================================*/

